
span{
    color:tomato;
   
 }
 

a{
    text-decoration: none;
    background-color: violet;
    padding:10px 40px;
    border-radius: 5px;
    
}


.half-width{
    width:50%;
    
}
#Explore{
    padding-top:80px;

}
    

.half-width h1{
    border-left:2px solid red; 
    font-size:35px;
}


.half-width img{
    width:70%;
    
}

.navbar{
     display: flex;
    margin-left:50px;
    width:100%;
    padding-left: 40px;
}


.last{
    padding-top: 20px;
}

/*secend section start*/

#web-mission{
    text-align: center;
    padding-top: 30px;
    font-size:35px

}
.card{
    display:flex;
    padding:10px 70px;
    
}

.card-box{
    width:33%;
  
}

.card img{
    width:100px;
}

.box-mission{
    margin:10px;
    padding:10px;
    background-color: rgb(195, 247, 241);
    border-radius: 15px;
}
.box-vission{
    margin:10px;
    padding:10px;
    background-color: rgb(247, 207, 207);
    border-radius: 15px;
}

.box-goals{
    margin:10px;
    padding:10px;
    background-color: rgb(245, 220, 199);
    border-radius: 15px;
}

/*third section start*/
