body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
span{
    color:tomato;
   
 }
 

a{
    text-decoration: none;
    background-color: violet;
    padding:10px 40px;
    border-radius: 5px;
    
}


.half-width{
    width:50%;
    padding-top: 20px;
    
}
#Explore{
    padding-top:50px;

}
    

#head-das{
    border-left:2px solid red; 
    font-size:40px;

   
}


.half-width img{
    width:70%;
    
}

#pad-top{
    padding-top:10px;
}

.navbar{
     display: flex;
    margin-left:50px;
    width:100%;
    padding-left: 40px;
}


.last{
    padding-top: 20px;
}

/*secend section start*/

#web-mission{
    text-align: center;
    padding-top: 30px;
    font-size:40px

}
.card{
    display:flex;
    padding:10px 70px;
    
}

.card-box{
    width:33%;
    margin:10px;
    padding:10px;
    border-radius: 15px;
 
}

.card img{
    width:100px;
}

.box-mission{
    background-color: rgb(195, 247, 241);
}
.box-vission{
    background-color: rgb(247, 207, 207); 
}

.box-goals{
    background-color: rgb(245, 220, 199);
}

/*third section start*/

.service{
display: flex;

}


.img-tool{
  padding-top: 20px;
    padding-left: 80px;
  height: 50px;
  
}
.img-tool img{
width:280px;
}

.para-tool{
  
    padding-top:50px;
    padding-right:50px;
   
}

/**Four section Start**/

.global-comunity{
    padding:80px 70px;
    margin:10px;
}



.global-img img{
    padding:20px 40px;
    width:300px;
}



/**Footer section**/

.footer-section{
    background-color:black;
    color:white;
    text-align: center;
    height: 150px;
    padding-top: 30px;
}

.footer-section small{
    font-family: 'Moon Dance', cursive;
}


/**Five section**/

#about-me{
    display:flex;
    background-color: rgb(172, 170, 170);
}

.me{
    text-align:center;
    font-size:40px;
    color:indigo;
   
}

.about-img{
    padding-left: 70px;
    padding-bottom: 70px;
}

.my-skils{
    width:250px;
    padding:50px;
    margin:40px;
    height:250px;
    background-color: rgb(250, 252, 134);
    border-radius:10px;
    box-shadow:15px 15px 40px rgb(158, 120, 120);
}